<section class="page-section bg-light" id="sobreNosotros">
    <div class="container">
        
        <div class="text-center">
            <h2 class="section-heading text-uppercase position-relative">Sobre Nosotros</h2>
            <hr class="hr">
        </div>
        <p class="text-center mt-5">
            Somos una empresa familiar, ubicados en el partido de Avellaneda. <br>
            Buscamos que cada producto sea único siempre con dedicación y forma artesanal, elaborados con los mejores y más frescos ingredientes. <br>
            Todos los trabajos que realizamos llevan nuestro toque artístico e inspiración, plasmando la pasión por lo que hacemos y buscando distinguirlos con los detalles y las terminaciones. <br>
        </p>
        <p class="text-center mt-5">
            Plasmamos tus ideas en pasteles, mesas dulces y meriendas. <br>
            Podrás encontrar una amplia gama de productos, desde tortas personalizadas para toda ocasión,
            cumpleaños, bodas, bautismos, comuniones, baby shower, princess tea, despedidas, egresados, eventos personales, eventos empresariales, desayunos y meriendas. <br>  
        </p>
    </div>
</section>