<footer class="footer py-4 ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-left text-center" ><img src="assets/img/PDlogo.jpeg" alt="" height="50px"></div>
            <div class="col-lg-4 my-3 my-lg-0" id="year">
                <p class="mt-2 text-center">Copyright © Planeta Dulce - {{ year }}</p>
            </div>
            <div class="col-lg-4 text-lg-right text-center">
                <a class="mr-3" href="assets/pp&tu/privacidadPolitica.pdf" target="_blank">Privacidad Politica</a>
                <a href="assets/pp&tu/terminosUso.pdf" target="_blank">Terminos de uso</a>
            </div>
        </div>
    </div>
</footer>