<section class="page-section bg-light" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contacta con nosotros</h2>
            <hr class="hr mt-2">
            <h3 class="section-subheading text-muted">Visita nuestras redes sociales</h3>
        </div>
        <div class="row">
            <div class="col-3 text-center">
                <a class="btn btn-social px-sm-4 py-sm-4" target="_blank" href="https://www.instagram.com/planeta.dulce.ok">
                    <span class="fa-stack fa-1x">
         
                        <i class="fa fa-instagram fa-stack-2x "></i>
                    </span>
                </a>
            </div>
            <div class="col-3 text-center">
                <a class="btn btn-social px-sm-4 py-sm-4" target="_blank" href="https://www.facebook.com/Planeta.dulce.ok">
                    <span class="fa-stack fa-1x">
         
                        <i class="fa fa-facebook-f fa-stack-2x "></i>
                    </span>
                </a>
            </div>
            <div class="col-3 text-center">
                <a href="#" class="btn btn-social px-sm-4 py-sm-4" target="_blank">
                    <span class="fa-stack fa-1x">
          
                        <i class="fa fa-whatsapp fa-stack-2x "></i>
                    </span>
                </a>
            </div>
            <div class="col-3 text-center">
                <a href="mailto:planeta_dulce01@hotmail.com" class="btn btn-social px-sm-4 py-sm-4" target="_blank">
                    <span class="fa-stack fa-1x">
 
                        <i class="fa fa-envelope  fa-stack-2x "></i>
                    </span>
                </a>
            </div>

        </div>
    </div>
</section>