<section class="page-section bg-light" id="servicios">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase position-relative ">Servicios</h2>
            <hr class="hr">
            <h3 class="section-subheading text-muted">Nuestros servicios</h3>

        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-pink"></i>
                    <i class="fa fa-archive fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Envio</h4>
                <p class="text-muted">Coordinamos el envio</p>
                <p class="text-muted">Zona : Avellaneda</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-pink"></i>
                    <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Medios de pago</h4>
                <p class="text-muted">Mercado Pago</p>
                <p class="text-muted">Efectivo</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-pink"></i>
                    <i class="fa fa-birthday-cake fa-stack-1x fa-inverse" aria-hidden="true"></i>
                </span>
                <h4 class="my-3">Tortas personalizadas</h4>
                <p class="text-muted">Tortas de Diseño, elaboradas artesanalmente, con pasión y cuidado en los detalles. Utilizando técnicas modernas de decoración. Para todo tipo de eventos.</p>
            </div>
        </div>
    </div>
</section>