/* You can add global styles to this file, and also import other style files */
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

p {
    line-height: 1.75;
}

/* ----------------------- */
/* ----CSS DE BTN------ */
/* ----------------------- */

.btn-pink {
    background-color: fuchsia !important;
}

.btn-xl {
    padding: 1.25rem 2.5rem !important;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-size: 1.125rem !important;
    font-weight: 700 !important;
    color: #fff !important;
}

.btn-xl:hover {
    background-color: deeppink !important;
}

.btn-xl:focus,
.btn-xl.focus {
    border-color: fuchsia !important;
    box-shadow: 0 0 0 0.2rem indianred !important;
}

.btn-xl.disabled,
.btn-xl:disabled {
    color: #fff !important;
    background-color: fuchsia !important;
    border-color: fuchsia !important;
}

.btn-xl:not(:disabled):not(.disabled):active,
.btn-xl:not(:disabled):not(.disabled).active,
.show>.btn-xl.dropdown-toggle {
    background-color: deeppink !important;
    border-color: deeppink !important;
}

.btn-xl:not(:disabled):not(.disabled):active:focus,
.btn-xl:not(:disabled):not(.disabled).active:focus,
.show>.btn-xl.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem indianred !important;
}

.btn-social {
    border-color: fuchsia !important;
}


.btn-social:hover {
    background-color: deeppink !important;
}

.btn-social:focus,
.btn-social.focus {
    border-color: fuchsia !important;
    box-shadow: 0 0 0 0.2rem indianred !important;
}

.btn-social.disabled,
.btn-social:disabled {
    color: #fff !important;
    background-color: fuchsia !important;
    border-color: fuchsia !important;
}

.btn-social:not(:disabled):not(.disabled):active,
.btn-social:not(:disabled):not(.disabled).active,
.show>.btn-xl.dropdown-toggle {
    background-color: deeppink !important;
    border-color: deeppink !important;
}

.btn-social:not(:disabled):not(.disabled):active:focus,
.btn-social:not(:disabled):not(.disabled).active:focus,
.show>.btn-xl.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem indianred !important;
}

/* ----------------------- */
/* ----CSS DE PAGE SECTION------ */
/* ----------------------- */

.hr {
    position: relative ;
    background-color: fuchsia;
    width: 550px;
    height: 2px;
}

@media (max-width: 600px) {
    .hr {
        width: 250px;
        height: 1px;
    }
}

.page-section {
    padding: 6rem 0;
}

.page-section h2.section-heading {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.page-section h3.section-subheading {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    /* font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" 1; */
    margin-bottom: 4rem;
}

@media (min-width: 768px) {
    section {
        padding: 9rem 0;
    }
}

::-moz-selection {

    text-shadow: none;
}

::selection {

    text-shadow: none;
}

.text-pink {
    color: fuchsia !important;
}

/* ----------------------- */
/* ----CSS DE ANIMACION------ */
/* ----------------------- */

.animacion {
    
}

.card:hover {
    box-shadow: 0.5px 0.5px 0.5px 0.5px gray;
    /* animation-name: fadeIn;
    animation-duration: 0.5s; */

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
